<div class="container" id="searchButton">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="jumbotron" id="beerPic">
        <h3 class="text-center beerText">What we do:</h2>
        <p class="beerText">Chaser is an App to keep up with rare, limited and seasonal beers.  We help you track release schedules for your favorite breweries in one place</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="panel panel-default" id="linePic">
        <h2 class="beerText text-center">What's our mission?
        </h2>
        <p class="beerText text-center">To make finding and drinking amazing beers easier than ever.
        </p> 
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-5" >
      <a class=" btn btn-default" href="/search" role="button">Find Some Beers!</a>
    </div>
    <br/>
  </div>
</div>