<div class="container">
  
    <div class="col-sm-4 col-sm-offset-2">
      <img class="img-responsive" id="beerPic" src="beerPaddle.jpg">
    </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="text-center">What we do</h2>
    </div>
    <div class="panel-body">
      Chaser is an App to find rare and seasonal beers.  We help you track release schedules
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="text-center">What's our mission?</h2>
        </div>
        <div class="panel-body">
          To find and drink amazing beers
        </div>
      </div>
    </div>
  </div>
</div>