<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="jumbotron" id="beerPic">
        <h3 class="text-center beerText">What we do:</h2>
        <p class="beerText">Chaser is an App to find rare and seasonal beers.  We help you track release schedules</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="jumbotron" id="linePic">
        <h2 class="beerText text-center">What's our mission?
        </h2>
        <p class="beerText text-center">To find and drink amazing beers
        </p> 
        <a class="btn btn-default" href="/search" role="button">Find Some Beers!</a>
      </div>
    </div>
  </div>
</div>