#beerPic{
 background-image: url('/images/beerPaddle.jpg');
 padding-top: 200px;
 margin-top: 100px;
 margin-bottom: 50px;
}

#linePic{
  background-image: url('/images/newG.jpg');
  background-position: 77% 37%;
  background-size: 1200px 1200px;
  background-repeat: no-repeat;
}

#chaserIcon { 
height: 45px; 
width: 40px ;
padding-bottom: 15px;
}


.beerText{
  color: #FFF ;
  text-shadow: 1px 1px #000
}

#viewBox{
  background-color: #c44102
}

/*login and register css*/
.panel {
	margin-top: 100px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #c44102
}
