#beerPic{
 background-image: url('/images/beerPaddle.jpg');
 padding-top: 250px;
 background-size: 100%;
 background-repeat: no-repeat;
 border-color: #FDF3E7;
}

#linePic{
  background-image: url('/images/newG.jpg');
  background-position: 77% 37%;
  background-size: 1200px 1200px;
  background-repeat: no-repeat;
  border-color: #FDF3E7;
  padding-top: 250px;
}

#chaserIcon { 
height: 45px; 
width: 40px ;
padding-bottom: 15px;
}

#viewBox{
  background-color: #C63D0F;
}

#searchButton{
  margin-bottom: 50px;
}

#barResults{
  padding-top: 75px;
}

.jumboText{
  background-color: #C63D0F;
  margin-top: 200px;
}

.beerText {
  background-color: #C63D0F;
}

.navbar-fixed-top{
  background-color: #f9dfc0;
  border-color: #FDF3E7
}

.user-form-body{
  background-color: #FDF3E7
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #f9dfc0;
    border-color: #ddd;
}

/*login and register css*/
.panel {
	margin-top: 100px;
}

/*change pw/login button*/
#pwUpdate {
  margin-top: 15px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f9dfc0;
}
