<!DOCTYPE html>
<html ng-app="beerApp">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" type="text/css" href="frontend.css">
  <title>Contact</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-10">
        <h2>Login</h2>
      </div>
    </div>
    <div class="row" ng-controller="accountController">
      <div class="col-md-2"></div>
      <div class="col-md-10">
        <form ng-submit="login()">
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" ng-model="email1" class="form-control" id="email1" placeholder="Email" name="email1">
          </div>
          <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" ng-model="password1" class="form-control" id="password1" placeholder="Password" name="password1">
          </div>
          <button type="submit" class="btn btn-default">Log In</button>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-10">
        <h2>Create An Account</h2>
      </div>
    </div>
    <div class="row" ng-controller="accountController">
      <div class="col-md-2"></div>
      <div class="col-md-10">
        <form ng-submit="createAccount()">
          <div class="form-group">
            <label for="email2">Email address</label>
            <input type="email" ng-model="createEmail" class="form-control" id="email2" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="inputPassword2">Password</label>
            <input type="password" ng-model="createPassword" class="form-control" id="inputPassword2" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-default">Create Account</button>
        </form>
      </div>
    </div>
  </div>

<!-- angular.js CDN -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
<!-- custom scripts -->
  <script type="text/javascript" src="/js/app.js"></script>
  <script type="text/javascript" src="/js/beerApp.js"></script>

</body>
</html>
