<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- made a simple icon to replace the brand in the navbar -->
      <a class="navbar-brand" href="/"><img id="chaserIcon"src="/images/Drawing.png"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/login" ng-hide="loggedOut" ng-controller="logoutController">Login<span class="sr-only">(current)</span></a></li>
        <li><a href="/register" ng-hide="loggedOut" ng-controller="logoutController">Register</a></li>
        <li><a href="" ng-show="loggedOut" ng-click='logout()' ng-controller="logoutController">Logout</a></li>
        <li><a href="/profile" ng-show="loggedOut" ng-controller="logoutController">Profile</a></li>
        <li><a href="/search">Search</a></li>
      </ul>
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input ng-model='searchName' type="text" class="form-control" placeholder="Enter a beer or brewery">
          <select ng-model='type'>
            <option>Beer</option>
            <option>Brewery</option>
          </select>
        </div>
        <a ng-click='navbarSearch()' ui-sref="searchResult">
           <button  class="btn btn-default">Search</button>
        </a>
        <!-- <a ui-sref="new-qs({ portfolioId: 1 })">New (query string)</a> -->
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
