<div class="container" ng-init='favoriteBeersCall()'>
  <div class="row">
    <div class="col-xs-8">
      <div class="panel panel-default">
      <div class="panel-heading">Your Profile</div>
        <div class="panel-body">
          <p>I'm your profile</p>
        </div>
      </div>
    </div>
    <div class="col-xs-3 col-xs-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading" style="text-align: center">Change Account Information
        </div>
        <div class="panel-body">
          <form>
            <input type="text" style="text-align: center" placeholder="Current Password"></input><br>
            <input type="text" style="text-align: center" placeholder="New Password"></input><br>
            <input type="text" style="text-align: center" placeholder="Current Login"></input><br>
            <input type="text" style="text-align: center" placeholder="New Login"></input><br>
            <button class="btn btn-primary btn-block" id="pwUpdate" >Update</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8">
      <div class="panel panel-default">
        <div class="panel-heading">Your List of Beers</div>
        <div class="panel-body">
          <p ng-repeat='beer in favBeers'>{{ beer.nameDisplay }}, {{ beer.abv }} ABV : {{ beer.description }} :::  {{ beer.available.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
