<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <div class="panel panel-default">
      <div class="panel-heading">Your Profile</div>
        <div class="panel-body">
          <p>I'm your profile</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8">
      <div class="panel panel-default">
        <div class="panel-heading">Your List of Beers</div>
        <div class="panel-body">
          <p>I am your list of beers</p>
        </div>
      </div>
    </div>
  </div>
</div>