<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="text-center">Search for beer</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <input type="text" ng-model='searchVal' autofocus >
          <select ng-model='searchType'>
            <option>postalCode</option>
            <option>city</option>
            <option>state</option>
          </select>
          <button type="button" name="button" ng-click='breweryApiCall()'>Search</button>
        </div>
      </div>
    </div>
  </div>
</div>
