<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">
         <h2 class="text-center">Search for Breweries</h2><p>Enter a location to find all the breweries in that area.  Then click on the brewery names to display all their beers.<!--Click on the beer name to add it to your favorites list to keep track of--></p>
        </div>
        <div class="panel-body">
          <div class="col-xs-6 col-xs-offset-3">
          <input type="text" ng-model='searchVal' class = "form-control" placeholder="Enter a location" autofocus>
          <select ng-model='searchType' class="form-control">
            <option>Postal Code</option>
            <option>City</option>
            <option>State</option>
          </select>
          <button type="button" name="button" ng-click='breweryApiCall()'>Search</button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
           <table>
            <ul>
              <li ng-repeat='res in breweryApi' ng-click='beerApiCall(res.brewery.id)'>{{ res.brewery.name }} - {{ res.locationTypeDisplay}} at {{ res.streetAddress}} , {{ res.locality }} <br/><br/></li>
            </ul>
            </table>
          </div>
          <div class= "col-xs-6">
            <ul>
              <li ng-repeat='res2 in beerApi' ng-click="favoriteBeer(res2.id)" > {{ res2.nameDisplay }}, {{ res2.abv }} ABV : {{ res2.description }} :::  {{ res2.available.description}}<br/><br/></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
